{% extends "base_general.html" %}

{% block recursos %}
{% load static %}
<script type="text/javascript" src="{% static 'js/validaciones.js' %}"></script>
{% endblock %}

{% block contenido %}

<h2>Registro</h2>
<form class="needs-validation" id="formulario_registro" method="POST" url_datos_colonias="{% url 'ajax_cargar_colonias' %}" autocomplete="off" >
  {% csrf_token %}
  {% include 'formulario.html' with form=form_usuario %}
  {% include 'formulario.html' with form=form_direccion %}
  <button type="submit" class="btn btn-primary">Registrarse</button>
</form>

<script>
$("#id_codigo_postal").change(function () {
    var url = $("#formulario_registro").attr("url_datos_colonias");  // get the url of the `load_cities` view
    var codigo_postal = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
type:'get',
        data: {
            'codigo_postal': codigo_postal // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_cla_asentamiento").html(data);  // replace the contents of the city input with the data that came from the server
        }
    });

});
</script>

{% endblock %}

