{% extends "base_general.html" %}

{% block recursos %}
{% load static %}
<script type="text/javascript" src="{% static 'js/validaciones.js' %}"></script>
{% endblock %}

{% block contenido %}

<h2>Registro</h2>
<form class="needs-validation" id="formulario_registro" method="POST" url_datos_colonias="{% url 'ajax_cargar_colonias' %}" autocomplete="off" >
  {% csrf_token %}
  {% include 'formulario.html' with form=form_usuario %}
  {% include 'formulario.html' with form=form_direccion %}
  <button type="submit" class="btn btn-primary">Registrarse</button>
</form>

{% endblock %}

