<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block titulo %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% block recursos %} {% endblock %}

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <a class="navbar-brand" href="{% url 'index' %}">AdminCol</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="">Visitantes</a></li>
                <li class="nav-item"><a class="nav-link" href="">Áreas Recreativas</a></li>
                <li class="nav-item"><a class="nav-link" href="">Avisos</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'editar_usuario' %}"> {{ user.nom_usuario }} </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a></li>
            {% else %}
                <!--<li class="nav-item pt-1"><button type="button" class="btn btn-secondary mr-sm-2">Iniciar Sesion</button></li>
                <li class="nav-item pt-1"><button type="button" class="btn btn-secondary mr-sm-2">Registrarse</button></li>-->
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'registro' %}">Registrarse</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>

    <div class="container">
    {% block contenido %} {% endblock %}
    </div>

</body>
</html>
